.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: hsl(100, 2%, 98%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

@keyframes fade {
  0% {
  }
  100% {
    border-top-color: transparent;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shape-container {
  display: inline-block;
  transition: all 2s;
  transform-origin: center;
  z-index: 1;
}

.shape-container-interaction {
  transform: scale(0.25);
}

.shape-container-interaction-2 {
  transform: scale(1);
}

.shape {
  width: 0;
  height: 0;
  border-top: 60px solid hsl(140, 50%, 30%);
  border-left: 60px solid;
  border-radius: 50%;
  margin: 0;
  display: block;
  transition: all 2s;
  animation-duration: 2s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  margin-left: 10px;
  transform: rotate(0deg);
  z-index: 1;
}

.box {
  background-color: white;
  width: 60vw;
  height: 37vh;
  padding: 200px;
  top: 100px;
  left: 300px;
  z-index: 2;
  margin: auto;
  position: fixed;
}

p {
  font-family: ivymode, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  top: 20px;
  left: 80px;
  position: absolute;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: ivymode, sans-serif;
}
.nav-links {
  display: flex;
  background-color: cyan;
  justify-content: space-around;
  width: 100%;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.nav-links li {
  list-style: none;
}
.intro {
  padding-bottom: 20px;
}

html {
  scroll-behavior: smooth;
}

p .ci {
  font-size: 0.5em;
  top: 50px;
}
