body {
  background-color: rgb(255, 255, 255);
}

.parent { 
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: "Roboto Slab";
}
.title {
  z-index: 2;
}

.body {
  margin-top: -10px;
  rs cs re ce
}
.quick {
  grid-area: 1 / 1 / 2 / 7;
  margin-top: 80px;
  z-index: 1;
}
.div1 {
  grid-area: 1 / 1 / 2 / 7;
  border: double 3px black;
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-right: 15px;
}
.div2 {
  grid-area: 2 / 1 / 6 / 5;
  border: double 3px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 15px;
  text-align: justify;
  padding-right: 15px;
}
.div3 {
  grid-area: 2 / 5 / 6 / 6;
  border: double 3px black;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  text-align: justify;
  padding-right: 15px;
}
.div4 {
  grid-area: 2 / 6 / 6 / 7;
  border: double 3px black;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  text-align: justify;
  padding-right: 15px;
}

.ttt {
  font-size: 3em;
  font-family: "Montserrat";
  padding-top: 4vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: white;
  font-family: "Montserrat";
  z-index: 1; 
}
.nav-links {
  display: flex;
  background-color: white;
  justify-content: space-around;
  width: 100%;
}

.nav-links a{
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.nav-links li{
  list-style: none;
}

.image {
  background-image: url(http://2.bp.blogspot.com/_fogL-F6jDxo/S-hrZYJixBI/AAAAAAAABoQ/H2y1p4in8lk/s1600/steak.jpg);
  width: 100px;
}
img {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
